@import "./variables";

@mixin type-style($name) {
	$style: map-get($type-scale, $name);

	font-size: map-get($style, size);
	line-height: map-get($style, line-height);
	letter-spacing: map-get($style, spacing);
	font-weight: map-get($style, weight);
}
